<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\env\Scripts\python.exe" 
                  arguments="%home%\site\wwwroot\deploy.sh" 
                  requestTimeout="00:04:00" 
                  startupTimeLimit="120" 
                  startupRetryCount="3" 
                  stdoutLogEnabled="true" />
  </system.webServer>
</configuration>